[*.{cs,vb}]

# IDE0302: Simplify collection initialization
dotnet_style_prefer_collection_expression = false

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = silent
